In [2]:
# Working modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly
import plotly.express
import scipy
import sklearn
import seaborn
import yfinance as yf

In [21]:
data = yf.download("AUD=X ZAR=X", start="2014-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [22]:
data.sort_values("Date").head(20)

           Adj Close            Close             High              Low  \
               AUD=X    ZAR=X   AUD=X    ZAR=X   AUD=X    ZAR=X   AUD=X
Date
2014-01-01    1.1217  10.3500  1.1217  10.3500  1.1217  10.3500  1.1204
2014-01-02    1.1246  10.4726  1.1246  10.4726  1.1306  10.6736  1.1184
2014-01-03    1.1228  10.6739  1.1228  10.6739  1.1252  10.6745  1.1105
2014-01-06    1.1154  10.6578  1.1154  10.6578  1.1190  10.7325  1.1132
2014-01-07    1.1152  10.6277  1.1152  10.6277  1.1240  10.6710  1.1150
2014-01-08    1.1214  10.6346  1.1214  10.6346  1.1230  10.7263  1.1171
2014-01-09    1.1248  10.7583  1.1248  10.7583  1.1276  10.8329  1.1219
2014-01-10    1.1239  10.7895  1.1239  10.7895  1.1264  10.8093  1.1112
2014-01-13    1.1095      NaN  1.1095      NaN  1.1126      NaN  1.1007
2014-01-14    1.1050  10.8017  1.1050  10.8017  1.1146  10.8892  1.1044
2014-01-15    1.1159  10.8204  1.1159  10.8204  1.1248  10.9310  1.1146
2014-01-16    1.1229  10.8718  1.1229  10.8718  1.1392  10.9570  1.1228
2014-01-17    1.1338  10.8813  1.1338  10.8813  1.1403  10.9123  1.1328
2014-01-20    1.1397  10.8747  1.1397  10.8747  1.1417  10.8999  1.1338
2014-01-21    1.1358  10.8429  1.1358  10.8429  1.1394  10.8760  1.1316
2014-01-22    1.1356  10.8287  1.1356  10.8287  1.1378  10.8855  1.1251
2014-01-23    1.1306  10.8633  1.1306  10.8633  1.1410  10.9983  1.1302
2014-01-24    1.1415  10.9876  1.1415  10.9876  1.1545  11.1902  1.1396
2014-01-27    1.1501  11.1272  1.1501  11.1272  1.1522  11.2534  1.1421
2014-01-28    1.1452  11.1081  1.1452  11.1081  1.1452  11.1147  1.1336

                        Open          Volume
              ZAR=X    AUD=X    ZAR=X  AUD=X ZAR=X
Date
2014-01-01  10.3500  1.12170  10.3500      0   0.0
2014-01-02  10.4695  1.12450  10.4817      0   0.0
2014-01-03  10.5750  1.12270  10.6724      0   0.0
2014-01-06  10.6185  1.11540  10.6588      0   0.0
2014-01-07  10.5920  1.11510  10.6246      0   0.0
2014-01-08  10.6171  1.12127  10.6359      0   0.0
2014-01-09  10.7309  1.12490  10.7584      0   0.0
2014-01-10  10.6636  1.12390  10.7890      0   0.0
2014-01-13      NaN  1.10950      NaN      0   NaN
2014-01-14  10.7930  1.10510  10.8006      0   0.0
2014-01-15  10.8173  1.11580  10.8207      0   0.0
2014-01-16  10.8509  1.12280  10.8705      0   0.0
2014-01-17  10.8255  1.13370  10.8820      0   0.0
2014-01-20  10.8143  1.13970  10.8682      0   0.0
2014-01-21  10.7921  1.13570  10.8461      0   0.0
2014-01-22  10.8044  1.13600  10.8298      0   0.0
2014-01-23  10.8596  1.13060  10.8616      0   0.0
2014-01-24  10.9727  1.14160  10.9866      0   0.0
2014-01-27  11.0730  1.15000  11.1333      0   0.0
2014-01-28  11.0040  1.14520  11.1077      0   0.0